 <main>
        <div class="row wrapper">
            <div class="col m2 side-bar center">
                <img class="responsive-img sidebar-logo" src="assets/img/logo.png" alt="Logo will go here">
                <ul>
                    <a href="">
                        <li class="valign-wrapper"><img class="side-bar-icon responsive-img" src="assets/img/invite.png" alt="icon">
                            <h6>Invite Guests</h6>
                        </li>
                    </a>
                    <a href="">
                        <li class="valign-wrapper"><img class="side-bar-icon responsive-img" src="assets/img/food.png" alt="icon">
                            <h6>Find Recipes</h6>
                        </li>
                    </a>
                    <a href="">
                        <li class="valign-wrapper"><img class="side-bar-icon responsive-img" src="assets/img/music.png" alt="icon">
                            <h6>Find Music</h6>
                        </li>
                    </a>
                </ul>
            </div>
            <div class="col m10 main-div">
                <div class="row">
                    <nav>
                        <div class="nav-wrapper">
                            <ul id="nav-mobile" class="right hide-on-med-and-down">
                                <li><a href="#">log out</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="row">
                    <div class="col m10 center center-div">
                        <div class="row">
                            <img class="responsive-img party-png" src="/assets/img/party1.png" alt="party-icon">
                        </div>
                        <div class="row">
                            <div class="has-parties">
                                <h5>You currently have no parties :(</h5>
                            </div>
                            <button class="btn start-btn waves-effect sidenav-trigger" data-target="penelope-pop-up">Start new party!</button>
                        </div>
                        <div class="row">
                            <div class="col m6"></div>
                            <div class="col m6"></div>
                        </div>
                    </div>
                    <div class="col m2">
                        <div class="sidenav" id="penelope-pop-up">
                            <div class="row">
                                <div class="col m12 orange chat">
                                    <!-- <div class="chat-container">
                                              <img src="" alt="Penelope">
                                              <p>Let's start planning your party!</p>
                                              <span class="time-right">11:00</span>
                                        </div>
                                        <div class="chat-container">
                                              <img src="" alt="Avatar">
                                              <p>First off, what kind of party are your going to be having?</p>
                                              <span class="time-right">11:00</span>
                                        </div>
                                        <div class="chat-container darker">
                                            <img src="" alt="Avatar" class="right">
                                            <p>Halloween Party</p>
                                            <span class="time-left">11:01</span>
                                        </div>
                                        <div class="chat-container">
                                            <img src="" alt="Penelope">
                                            <p>Sweet! Would you like to make a music playlist for this party?</p>
                                            <span class="time-right">11:02</span>
                                        </div>
                                        <div class="chat-container darker">
                                            <img src="" alt="Avatar" class="right">
                                            <p>Sure</p>
                                            <span class="time-left">11:05</span>
                                        </div> 
                                        <div class="chat-container">
                                            <img src="" alt="Penelope">
                                            <p>Great initializing playlist!</p>
                                            <span class="time-right">11:05</span>
                                        </div>
             --></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <div class="page-footer footer center">
        <div class="row">
            <div class="col m12">Footer</div>
        </div>
    </div>