html {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow-x: hidden;
}

.backgroundWrap {
    position: fixed;
    z-index: -1000;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
}

#videoBgElement {
    position: relative;
    top: 0;
    left: 0;
    min-height: 100%;
    min-width: 100%;
}

body {
    background: url(bg.mp4);
    font-size: 14px;
    line-height: 1.42857143;
    background-color: transparent;
}

.standard-logo {
    width: 70px;
}

.navbar-default {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    background-color: transparent;
    height: 100px;
}

.container-fluid {
    padding-right: 15px;
    padding-left: 100px;
    margin-right: auto;
    margin-left: auto;
    border: transparent;
    background: url(balloons.png) no-repeat right;
    background-color: #87BCEB;
    opacity: 0.75;
    box-shadow: 10px 10px 50px 20px #194266;
    border-radius: 25px;
    height: 100px;
}

.navbar-right {
    float: left;
    margin-top: 60px;
}

.navbar-default .navbar-nav>li>a {
    font-size: 20px;
    text-decoration: underline overline;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #1f024d;
    box-shadow: 0 0 20px #150347cc;
}

.navbar>.container-fluid .navbar-brand {
    margin-top: 4%;
    font-size: 50px;
}

.navbar-default .navbar-brand {
    font-family: 'Jua', sans-serif;
    font-size: 95px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 10px;
    padding-top: 15px;
    font-weight: bold;
    color: #1001D7;
    cursor: none;
    position: relative;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #82A1D5;
    text-shadow: 0 1px 0 #836af1, 0 2px 0 #1b43f5, 0 3px 0 rgba(20, 224, 82, 0.849), 0 4px 0 #070116, 0 6px 1px rgba(0, 0, 0, .1), 0 0 5px rgba(0, 0, 0, .1), 0 1px 3px rgba(0, 0, 0, .3), 0 3px 5px rgba(0, 0, 0, .2), 0 5px 10px rgba(0, 0, 0, .25), 0 20px 20px rgba(0, 0, 0, .15);
}

.navbar-default .navbar-brand:hover {
    color: #170458;
    text-shadow: 0 0 5px #ffc, 0 0 10px yellow, 0 0 15px #feff76, 0 0 20px #fac74f, 0 0 35px #f6512f, 0 0 40px #f6512f, 0 0 60px orangered, 0 0 90px #f55034
}

.col-sm-2 {
    margin-right: 5px;
    position: relative;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    margin-left: 20px;
    border-radius: 20px 15px 15px 15px/260px 1000px 255px 255px;
    margin-top: -10px;
    overflow: scroll;
    position: fixed;
    height: 200px;
}

#initbox {
    height: 400px;
}

#bottomleft {
    /* float: left; */
    height: 200px;
    overflow: scroll;
    margin-top: 195px;
    position: fixed;
    margin-left: 25px;
}

#bottomright {
    float: right;
    margin-top: 50px;
    overflow: scroll;
}

.col-sm-10,
#login,
#createaccount {
    float: right;
    margin-left: 25px;
    margin-right: 25px;
    margin-top: -15px;
    margin-bottom: 30px;
    width: 75%;
    overflow-y: scroll;
    display: inline;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    height: 200px;
    overflow: scroll;
}

#login {
    width: 540px;
    height: 260px;
    margin-top: 50px;
}

#createaccount {
    width: 530px;
    height: 90px;
    margin-top: 50px;
}

.col-sm-2 p {
    font-family: 'Georgia';
    color: hsl(240, 93%, 74%);
    font-size: 20px;
}

#initalScreenButton {
    margin-top: 30px;
    font-size: 20px;
    width: 25%;
    margin-right: 35%;
    padding-left: 50px;
    padding-right: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

#homePgImg {
    width: 800px;
    height: 200px;
    margin-left: 380px;
    margin-top: 10px;
}

span {
    float: left;
    margin-left: 1000px;
}

.row {
    color: hsl(240, 93%, 74%);
    font-family: 'Georgia';
    text-align: left;
}

.form-group {
    background-color: #ffffff;
    color: black;
}

.h2,
h2 {
    color: #8783ad;
    font-size: 30px;
    padding-left: 20px;
    font-weight: bold;
}

.h3,
h3 {
    font-size: 20px;
    padding-left: 20px;
    color: hsl(249, 80%, 56%);
    font-family: 'Jua', sans-serif;
}

.h4,
h4 {
    font-size: 15px;
    padding-left: 20px;
    color: #4314ee;
    font-family: 'Jua', sans-serif;
}

button,
#login-button {
    font-family: 'Jua', sans-serif;
    border: solid 5px #7066f7;
    float: right;
    background-color: hsl(241, 63%, 80%);
    transition: all .5s ease;
    font-size: 100%;
    letter-spacing: 1px;
    outline: none;
    box-shadow: 20px 38px 34px -26px hsla(0, 0%, 0%, .2);
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    margin-right: 2%;
    margin-top: -20px;
    margin-bottom: 0px;
}

#btn {
    margin-top: 10px;
    margin-right: 35px;
}

button:hover {
    box-shadow: 2px 8px 4px -6px hsla(0, 0%, 0%, .3);
    transform: scale(1.1);
}

#login-button {
    margin-top: 3px;
}

 ::-webkit-scrollbar {
    background: #818cf0;
    width: 20px;
    border-radius: 10px;
    border: 5px solid #554492;
}

 ::-webkit-scrollbar-track {
    border-radius: 10px;
}

 ::-webkit-scrollbar-thumb {
    background: #9ad7f3;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.8);
    border-radius: 10px;
}

.footer {
    border-top: 5px solid rgb(130, 169, 243);
    background-color: #1b1a1a;
    /* margin-top: 10px; */
    color: rgb(240, 237, 99);
    padding: 1px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    font-size: 15px;
    height: 10%;
}